section#contact-info {
	font-size: .8em;
}
.job {
	background-color: #e9e5dc;
	padding: 20px;
	margin-top: 2cm;
	border-radius: 25px;
}
.list {
	font-size: .8em;	
}
ul:hover{
	background-color: yellow;
	}
section + p {
	font-size: .6em;
}